<section class="sect-faq">
  <div class="container">
    <h2 class="title-faq">
      frequently asked <span class="green-color">question</span>
    </h2>
    <ul class="accordion-list">
      <li class="ac">
        <button type="button" class="ac-trigger">
          <p class="ac-btn-text">
            What programming languages are most often used in your project?
          </p>
          <svg class="ac-icon-up" width="32" height="32">
            <use href="/img/sprite.svg#icon-button-up"></use>
          </svg>
        </button>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac">
        <button type="button" class="ac-trigger">
          <p class="ac-btn-text">What are the deadlines for the project?</p>
          <svg class="ac-icon-up" width="32" height="32">
            <use href="/img/sprite.svg#icon-button-up"></use>
          </svg>
        </button>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac">
        <button type="button" class="ac-trigger">
          <p class="ac-btn-text">What payment methods do you accept?</p>
          <svg class="ac-icon-up" width="32" height="32">
            <use href="/img/sprite.svg#icon-button-up"></use>
          </svg>
        </button>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="ac">
        <button type="button" class="ac-trigger">
          <p class="ac-btn-text">How can I contact you?</p>
          <svg class="ac-icon-up" width="32" height="32">
            <use href="/img/sprite.svg#icon-button-up"></use>
          </svg>
        </button>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac">
        <button type="button" class="ac-trigger">
          <p class="ac-btn-text">Do you provide advice or support?</p>
          <svg class="ac-icon-up" width="32" height="32">
            <use href="/img/sprite.svg#icon-button-up"></use>
          </svg>
        </button>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac">
        <button type="button" class="ac-trigger">
          <p class="ac-btn-text">
            What does the process of developing a software product look like
            from idea to implementation?
          </p>
          <svg class="ac-icon-up" width="32" height="32">
            <use href="/img/sprite.svg#icon-button-up"></use>
          </svg>
        </button>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
