<section class="footer">
  <div class="container">
    <div class="footer-container">
      <a class="logo" href="/src/index.html"
        >Lloyd<span class="green-color">Jefferson.</span></a
      >
      <ul class="footer-nav">
        <li>
          <a
            href="https://www.instagram.com/goitclub/"
            class="footer-nav-link"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://www.facebook.com/goITclub/"
            class="footer-nav-link"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/school/"
            class="footer-nav-link"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Nickolay1990/core-stack"
            class="footer-nav-link"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="right">&#169; Copyright 2024. Made by LloydJefferson</p>
  </div>
</section>
