<div class="container header-container">
  <nav class="header-nav">
    <a class="header-logo" href="./index.html"
      >Lloyd<span class="green-color">Jefferson.</span></a
    >
    <ul class="header-nav-list">
      <li><a href="#about" class="header-nav-link">About Me</a></li>
      <li><a href="#projects" class="header-nav-link">Projects</a></li>
      <li><a href="#contacts" class="header-nav-link">Contacts</a></li>
    </ul>
    <a class="header-order-link" href="#" data-scrol-down>Order the project</a>
  </nav>

  <button type="button" class="menu-button" data-menu-handler>
    <svg class="menu-icon" width="32" height="32">
      <use href="/img/sprite.svg#icon-burger-symbols-menu"></use>
    </svg>
  </button>
</div>

<!--mobile menu-->

<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container">
    <a class="header-logo" href="./index.html"
      >Lloyd<span class="green-color">Jefferson.</span></a
    >
    <button class="mobile-menu-close" type="button" data-menu-handler>
      <svg class="svg-icon-close" width="32" height="32">
        <use href="/img/sprite.svg#icon-x"></use>
      </svg>
    </button>

    <div class="menu-wrapper">
      <ul class="mobile-nav-menu">
        <li class="mobile-nav-list">
          <a class="mobile-nav-link" href="#about" data-menu-handler
            >About Me</a
          >
        </li>
        <li class="mobile-nav-list">
          <a class="mobile-nav-link" href="#projects" data-menu-handler
            >Projects</a
          >
        </li>
        <li class="mobile-nav-list">
          <a class="mobile-nav-link" href="#contacts" data-menu-handler
            >Contacts</a
          >
        </li>
      </ul>
      <a class="mobile-order-link" href="#" data-scrol-down
        >Order the project</a
      >
    </div>
  </div>
</div>
