<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-describe">
<h1 class="hero-title">HELLO, I AM <span class="green-color">FUULLSTACK DEVELOPER</span></h1>

<picture>
  <source
    srcset="/img/hero/desc_hero_portrait_of_the_developer.jpg 1x,
    /img/hero/desc_hero_portrait_of_the_developer@2x.jpg 2x"
    media="(min-width: 1280px)"
  />
  <source
    srcset="/img/hero/tab_hero_portrait_of_the_developer.jpg 1x,
    /img/hero/tab_hero_portrait_of_the_developer@2x.jpg 2x"
    media="(min-width: 768px)"
  />
  <source
    srcset="/img/hero/mobile_hero_portrait_of_the_developer.jpg 1x,
    /img/hero/mobile_hero_portrait_of_the_developer@2x.jpg 2x"
    media="(max-width: 767px)"
  />
  <img class="hero-img"
    src="/img/hero/desc_hero_portrait_of_the_developer.jpg"
    alt="fhoto"
    width=""
  />
</picture>



<p class="hero-text">I work with people all over the world to create <span class="green-color">impressive</span>    
     and <span class="green-color">functional websites</span> that reflect each client’s unique personality. </p>
    
    </div>
<ul class="hero-list">
    <li class="hero-item"><a href="https://www.instagram.com/goitclub/" class="hero-link">Instagram</a></li>
    <li class="hero-item"><a href="https://www.facebook.com/goITclub/" class="hero-link">Facebook</a></li>
    <li class="hero-item"><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" class="hero-link">Linkedin</a></li>
    <li class="hero-item"><a href="https://github.com/Nickolay1990/core-stack.git" class="hero-link">GitHub</a></li>
</ul>
</div>
</section>