<section id="projects" class="my-projects">
  <div class="container">
    <h2 class="title-projects">my <span class="green-color">projects</span></h2>
    <ul class="projects-list">
      <li class="list-item">
        <iframe
          src="https://power-pulse.f.goit.study/welcome/"
          class="iframe-style"
        ></iframe>
        <video autoplay loop muted playsinline class="video-style">
          <source src="/video/transform-body.mp4" type="video/mp4" />
        </video>
        <div class="card-text">
          <p class="teck-skill">React, JavaScript, Node JS, Git</p>
          <div class="container-title">
            <h3 class="name-page">transforming your body</h3>
            <a
              href="https://power-pulse.f.goit.study/welcome/"
              class="visit-link"
              target="_blank"
              >visit
              <svg class="icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-arrow-on-the-btn"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="list-item">
        <iframe
          src="https://dmytostas.github.io/mimino/"
          class="iframe-style"
        ></iframe>
        <video autoplay loop muted playsinline class="video-style">
          <source src="/video/mimino.mp4" type="video/mp4" />
        </video>
        <div class="card-text">
          <p class="teck-skill">React, JavaScript, Node JS, Git</p>
          <div class="container-title">
            <h3 class="name-page">mimino</h3>
            <a
              href="https://dmytostas.github.io/mimino/"
              class="visit-link"
              target="_blank"
              >visit
              <svg class="icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-arrow-on-the-btn"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="list-item">
        <iframe
          src="https://vyshyvanka-vibes.f.goit.study/"
          class="iframe-style"
        ></iframe>
        <video autoplay loop muted playsinline class="video-style">
          <source src="/video/traditional.mp4" type="video/mp4" />
        </video>
        <div class="card-text">
          <p class="teck-skill">React, JavaScript, Node JS, Git</p>
          <div class="container-title">
            <h3 class="name-page">reviving the traditional</h3>
            <a
              href="https://vyshyvanka-vibes.f.goit.study/"
              class="visit-link"
              target="_blank"
              >visit
              <svg class="icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-arrow-on-the-btn"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="list-item">
        <iframe
          src="https://goitstudentsworks.github.io/106_html-css_Siriulas/"
          class="iframe-style"
        ></iframe>
        <video autoplay loop muted playsinline class="video-style">
          <source src="/video/vegetables.mp4" type="video/mp4" />
        </video>
        <div class="card-text">
          <p class="teck-skill">React, JavaScript, Node JS, Git</p>
          <div class="container-title">
            <h3 class="name-page">organic vegetables</h3>
            <a
              href="https://goitstudentsworks.github.io/106_html-css_Siriulas/"
              class="visit-link"
              target="_blank"
              >visit
              <svg class="icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-arrow-on-the-btn"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="list-item">
        <iframe
          src="https://wallet-goit-fsv.netlify.app/"
          class="iframe-style"
        ></iframe>
        <video autoplay loop muted playsinline class="video-style">
          <source src="/video/wallet.mp4" type="video/mp4" />
        </video>
        <div class="card-text">
          <p class="teck-skill">React, JavaScript, Node JS, Git</p>
          <div class="container-title">
            <h3 class="name-page">wallet webservice</h3>
            <a
              href="https://wallet-goit-fsv.netlify.app/"
              class="visit-link"
              target="_blank"
              >visit
              <svg class="icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-arrow-on-the-btn"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="list-item">
        <iframe src="https://chegojewelry.com/en" class="iframe-style"></iframe>
        <video autoplay loop muted playsinline class="video-style">
          <source src="/video/jewelry.mp4" type="video/mp4" />
        </video>
        <div class="card-text">
          <p class="teck-skill">React, JavaScript, Node JS, Git</p>
          <div class="container-title">
            <h3 class="name-page">chego jewelry</h3>
            <a
              href="https://chegojewelry.com/en"
              class="visit-link"
              target="_blank"
              >visit
              <svg class="icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-arrow-on-the-btn"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="list-item">
        <iframe
          src="https://energy-flow.f.goit.study/"
          class="iframe-style"
        ></iframe>
        <video autoplay loop muted playsinline class="video-style">
          <source src="/video/get-body.mp4" type="video/mp4" />
        </video>
        <div class="card-text">
          <p class="teck-skill">React, JavaScript, Node JS, Git</p>
          <div class="container-title">
            <h3 class="name-page">get body in shape</h3>
            <a
              href="https://energy-flow.f.goit.study/"
              class="visit-link"
              target="_blank"
              >visit
              <svg class="icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-arrow-on-the-btn"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="list-item">
        <iframe
          src="https://z9877969.github.io/fruits_landing/"
          class="iframe-style"
        ></iframe>
        <video autoplay loop muted playsinline class="video-style">
          <source src="/video/fresh-harvest.mp4" type="video/mp4" />
        </video>
        <div class="card-text">
          <p class="teck-skill">React, JavaScript, Node JS, Git</p>
          <div class="container-title">
            <h3 class="name-page">fresh harvest box</h3>
            <a
              href="https://z9877969.github.io/fruits_landing/"
              class="visit-link"
              target="_blank"
              >visit
              <svg class="icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-arrow-on-the-btn"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="list-item">
        <iframe
          src="https://tate-t.github.io/StarlightStudio/"
          class="iframe-style"
        ></iframe>
        <video autoplay loop muted playsinline class="video-style">
          <source src="/video/business.mp4" type="video/mp4" />
        </video>
        <div class="card-text">
          <p class="teck-skill">React, JavaScript, Node JS, Git</p>
          <div class="container-title">
            <h3 class="name-page">turn your business</h3>
            <a
              href="https://tate-t.github.io/StarlightStudio/"
              class="visit-link"
              target="_blank"
              >visit
              <svg class="icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-arrow-on-the-btn"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="list-item">
        <iframe
          src="https://tkachenkokaterina.github.io/english-excellence/"
          class="iframe-style"
        ></iframe>
        <video autoplay loop muted playsinline class="video-style">
          <source src="/video/learning.mp4" type="video/mp4" />
        </video>
        <div class="card-text">
          <p class="teck-skill">React, JavaScript, Node JS, Git</p>
          <div class="container-title">
            <h3 class="name-page">discover the joy of learning</h3>
            <a
              href="https://tkachenkokaterina.github.io/english-excellence/"
              class="visit-link"
              target="_blank"
              >visit
              <svg class="icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-arrow-on-the-btn"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="load-more">Load More</button>
  </div>
</section>
