<!-- --------------Section Reviews-------------- -->

<section class="reviews-section">
  <h2 class="reviews-title">Reviews</h2>
  <div class="slider-container">
    <div class="swiper" tabindex="0">
      <ul class="swiper-wrapper" id="reviews-list"></ul>
    </div>
    <div class="swiper-container-btn">
      <button id="prev-button" class="nav-button">
        <svg class="reviews-icon" width="24" height="24">
          <use href="/src/img/sprite.svg#icon-arrow-inactive"></use>
        </svg>
      </button>
      <button id="next-button" class="nav-button">
        <svg class="reviews-icon" width="24" height="24">
          <use href="/src/img/sprite.svg#icon-arrow-default"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
