<!-- --------------Section Reviews-------------- -->

<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="swiper" tabindex="0">
      <ul class="swiper-wrapper" id="reviews-list"></ul>
    </div>

    <div class="reviews-container-btn">
      <button id="prev-button" class="reviews-nav-button arrow-left">
        <svg width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-inactive"></use>
        </svg>
      </button>
      <button id="next-button" class="reviews-nav-button">
        <svg width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-default"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
