<div class="sidebar hidden-bar">
  <form class="sidebar-form">
    <label>
      <input
        class="visually-hidden"
        type="radio"
        name="color"
        value="classic"
      />
      <div class="checkbox-wrapper">
        <span class="white-span left-span"></span>
        <span class="black-span right-span"></span>
        <svg width="20" height="20" class="checked-picture">
          <use href="/img/sprite.svg#checked-icon"></use>
        </svg>
      </div>
    </label>
    <label>
      <input class="visually-hidden" type="radio" name="color" value="dark" />
      <div class="checkbox-wrapper">
        <span class="black-span left-span"></span>
        <span class="white-span right-span"></span>
        <svg width="20" height="20" class="checked-picture">
          <use href="/img/sprite.svg#checked-icon"></use>
        </svg>
      </div>
    </label>
    <label>
      <input
        class="visually-hidden"
        type="radio"
        name="color"
        value="custom1"
      />
      <div class="checkbox-wrapper">
        <span class="blue-span left-span"></span>
        <span class="red-span right-span"></span>
        <svg width="20" height="20" class="checked-picture">
          <use href="/img/sprite.svg#checked-icon"></use>
        </svg>
      </div>
    </label>
    <label>
      <input
        class="visually-hidden"
        type="radio"
        name="color"
        value="custom2"
      />
      <div class="checkbox-wrapper">
        <span class="green-span left-span"></span>
        <span class="pink-span right-span"></span>
        <svg width="20" height="20" class="checked-picture">
          <use href="/img/sprite.svg#checked-icon"></use>
        </svg>
      </div>
    </label>
  </form>

  <button class="side-button" type="button">></button>
</div>
