<div class="sidebar hidden-bar">
  <form class="sidebar-form">
    <label>
      <input
        class="visually-hidden"
        type="radio"
        name="color"
        value="classic"
      />
      <span class="checkbox-wrapper">
        <span class="white-span left-span"></span>
        <span class="green-span right-span"></span>
        <svg width="20" height="20" class="checked-picture">
          <use href="/img/sprite.svg#checked-icon"></use>
        </svg>
      </span>
    </label>
    <label>
      <input class="visually-hidden" type="radio" name="color" value="dark" />
      <span class="checkbox-wrapper">
        <span class="black-span left-span"></span>
        <span class="green-span right-span"></span>
        <svg width="20" height="20" class="checked-picture">
          <use href="/img/sprite.svg#checked-icon"></use>
        </svg>
      </span>
    </label>
    <label>
      <input class="visually-hidden" type="radio" name="color" value="blue" />
      <span class="checkbox-wrapper">
        <span class="blue-span left-span"></span>
        <span class="gold-span right-span"></span>
        <svg width="20" height="20" class="checked-picture">
          <use href="/img/sprite.svg#checked-icon"></use>
        </svg>
      </span>
    </label>
    <label>
      <input
        class="visually-hidden"
        type="radio"
        name="color"
        value="green-dark"
      />
      <span class="checkbox-wrapper">
        <span class="green-dark-span left-span"></span>
        <span class="pink-span right-span"></span>
        <svg width="20" height="20" class="checked-picture">
          <use href="/img/sprite.svg#checked-icon"></use>
        </svg>
      </span>
    </label>
  </form>

  <button class="side-button" type="button">></button>
</div>
