<section class="tech-skills">
  <h2 class="visually-hidden">Tech Skils</h2>
  <div class="marquee" id="marquee-horizontal">
    <div class="marquee-inner">
      <p class="marquee-line">
        <span class="dot" id="dot-horizontal"></span>
        HTML/CSS
        <span class="dot" id="dot-horizontal"></span>
        JavaScript
        <span class="dot" id="dot-horizontal"></span>
        React
        <span class="dot" id="dot-horizontal"></span>
        Node. js
        <span class="dot" id="dot-horizontal"></span>
        React Native
        <span class="dot" id="dot-horizontal"></span>
        Typescript
        <span class="dot" id="dot-horizontal"> </span>
        HTML/CSS
        <span class="dot" id="dot-horizontal"></span>
        JavaScript
        <span class="dot" id="dot-horizontal"></span>
        React
        <span class="dot" id="dot-horizontal"></span>
        Node. js
        <span class="dot" id="dot-horizontal"></span>
        React Native
        <span class="dot" id="dot-horizontal"></span>
        Typescript
        <span class="dot" id="dot-horizontal"> </span>
      </p>
    </div>
  </div>
  <div class="marquee" id="marquee-tilted">
    <div class="marquee-inner">
      <p class="marquee-line tilted">
        <span class="dot" id="dot-tilted"></span>
        Typescript
        <span class="dot" id="dot-tilted"></span>
        React Native
        <span class="dot" id="dot-tilted"></span>
        Node. js
        <span class="dot" id="dot-tilted"></span>
        React
        <span class="dot" id="dot-tilted"></span>
        JavaScript
        <span class="dot" id="dot-tilted"></span>
        HTML/CSS
        <span class="dot" id="dot-tilted"></span>
        Typescript
        <span class="dot" id="dot-tilted"></span>
        React Native
        <span class="dot" id="dot-tilted"></span>
        Node. js
        <span class="dot" id="dot-tilted"></span>
        React
        <span class="dot" id="dot-tilted"></span>
        JavaScript
        <span class="dot" id="dot-tilted"></span>
        HTML/CSS
        <span class="dot" id="dot-tilted"></span>
      </p>
    </div>
  </div>
</section>
