<section class="tech-skills">
  <h2 class="visually-hidden">Tech Skills</h2>
  <div class="marquee marquee-horizontal">
    <div class="marquee-inner">
      <p class="marquee-line">
        <span class="dot dot-horizontal"></span> HTML/CSS
        <span class="dot dot-horizontal"></span> JavaScript
        <span class="dot dot-horizontal"></span> React
        <span class="dot dot-horizontal"></span> Node.js
        <span class="dot dot-horizontal"></span> React Native
        <span class="dot dot-horizontal"></span> TypeScript&nbsp;
      </p>
    </div>
  </div>
  <div class="marquee marquee-tilted">
    <div class="marquee-inner">
      <p class="marquee-line tilted">
        <span class="dot dot-tilted"></span> TypeScript
        <span class="dot dot-tilted"></span> React Native
        <span class="dot dot-tilted"></span> Node.js
        <span class="dot dot-tilted"></span> React
        <span class="dot dot-tilted"></span> JavaScript
        <span class="dot dot-tilted"></span> HTML/CSS&nbsp;
      </p>
    </div>
  </div>
</section>
