<section class="together">
    <div class="container together-container">
        <h2 class="together-title">let’s <span class="together-part">work together</span></h2>
            <div class="contacts">
                <h3 class="contacts-title">Contact me to transform your ideas into exceptional solutions.</h3>
                <ul class="contacts-list">
                    <li class="contacts-item">
                        <a href="tel:+380904567890" class="contacts-link">
                            <svg class="contacts-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-phone"></use>
                            </svg>+38 090 456 78 90</a>
                    </li>
                    <li class="contacts-item">
                        <a href="mailto:lloydjefferson@gmail.com" class="contacts-link">
                            <svg class="contacts-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-icon-letter"></use>
                            </svg>lloydjefferson@gmail.com</a>
                    </li>
                    <li class="contacts-item">
                        <a href="https://www.google.com/maps/search/?api=1&query=USA,New+York" target="_blank" class="contacts-link">
                            <svg class="contacts-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-icon-location"></use>
                            </svg>USA, New York</a>
                    </li>
                </ul>
            </div>
        <form id="contact-form" class="form">
            <div class="form-wrapper">
                    <input class="form-user-input" type="email"  id="form-email" name="email" required placeholder="Your email*"
                        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
                <textarea class="form-comment" name="message" id="user-comment" required placeholder="Message"></textarea>
            
            <button class="form-btn" type="submit">SEND MESSAGE</button>
        </div>
        </form>
    </div>
      
</section>