.about-me-section {
  padding-top: 80px;
}

.about-me-all-h {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.about-me-ul-all {
  list-style-type: square;
  margin-left: 20px;
}

.about-me-ul-all li::marker {
  color: #00b068;
}

.about-me-h {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
  color: var(--general-color);
}

.about-me-div-img {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.about-me-p-bio {
  margin-bottom: 40px;
}

.about-me-li {
  margin-bottom: 12px;
}

.about-me-div {
  margin-bottom: 40px;
}

/*-------------------TABLET------------------- */

@media screen and (min-width: 768px) {
  .about-me-div-container {
    position: relative;
  }

  .about-me-div-container::before {
    content: '';
    position: absolute;
    width: 336px;
    height: 336px;
    background-image: url(/img/about_me/tab_about_me_decor_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 100px;
    right: 5%;
    pointer-events: none;
    z-index: 1;
  }

  @media (min-resolution: 192dpi) {
    .about-me-div-container::before {
      background-image: url(/img/about_me/tab_about_me_decor_bg@2x.png);
    }
  }

  .about-me-section {
    padding-top: 124px;
  }

  .about-me-h {
    font-size: 108px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .about-me-all-h {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }

  .about-me-div-img {
    margin-top: 408px;
    margin-bottom: 0;
  }

  .about-me-div {
    flex: 1;
    margin: 0;
  }

  .about-me-div-img picture,
  .about-me-div-img img {
    border-radius: 16px;
  }
  .about-me-tab {
    display: flex;
    column-gap: 32px;
    row-gap: 60px;
    flex-wrap: wrap;
  }

  .about-me-div-tab {
    width: 336px;
  }

  .about-me-p-bio {
    margin-bottom: 24px;
  }

  .about-me-li {
    margin-bottom: 16px;
  }
}

/*-------------------COMPUTER-------------------*/

@media screen and (min-width: 1280px) {
  .about-me-div-container {
    position: relative;
  }

  .about-me-div-container::before {
    content: "";
    position: absolute;
    width: 384px;
    height: 288px;
    background-image: url(/img/about_me/desk_about_me_decor_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 692px;
    right: 10%; 
    pointer-events: none;
    z-index: 1;
  }

  @media (min-resolution: 192dpi) {
    .about-me-div-container::before {
      background-image: url(/img/about_me/desk_about_me_decor_bg@2x.png);
    }
  }
}

.about-me-section {
  padding-top: 164px;
}

.about-me-tab {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 60px;
  align-items: flex-start; 
}

.about-me-div-img {
  flex: 0 0 384px;
  height: 448px;
  border-radius: 16px;
  overflow: hidden;
}

.about-me-div {
  flex: 1 1 500px; 
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.about-me-div-comp {
  display: flex;
  gap:136px;
  margin-top: 40px;
}

.about-me-div-computer {
  display: flex;
  gap: 136px;
  min-width: 910px;
}