@font-face {
  font-family: 'Impact';
  src: url(/fonts/impact.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --general-font-family: 'Poppins', sans-serif;
  --second-family: 'Impact', sans-serif;
  --third-family: 'Montserrat', sans-serif;
  --general-color: #292929;
  --accent-color: #00b068;
  --general-background-color: #f0f0f0;
  --light-green-color: #bcdfd1;
  --techskills-gray-back-color: #e4e5e6;
}

html.dark {
  --general-background-color: red;
}

html.custom1 {
  --general-background-color: green;
}

html.custom2 {
  --general-background-color: blue;
}

body {
  font-family: var(--general-font-family);
  font-size: 16px;
  font-weight: 300;
  color: var(--general-color);
  background-color: var(--general-background-color);
  letter-spacing: 0.03em;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.green-color {
  color: var(--accent-color);
}
