.sect-faq {
  margin-top: 80px;
}
.title-faq {
  margin-bottom: 40px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  text-transform: uppercase;
  color: var(--general-color);
}
.ac .ac-trigger::after {
  display: none;
}
.ac-btn-text {
  margin-right: 16px;
}
.accordion-list .ac .ac-icon-up {
  transform: translate(50%, 0) rotate(180deg);
  position: absolute;
  right: 24px;
  top: 5px;
  fill: transparent;
  stroke: var(--general-color);
  transition: transform 0.3s ease-in-out;
}
.accordion-list .ac.is-active .ac-icon-up {
  transform: translate(50%, 0) rotate(0deg);
}
.accordion-list .ac .ac-trigger {
  font-family: var(--general-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-transform: uppercase;
  color: var(--general-color);
}
.accordion-list .ac .ac-trigger:focus {
  color: var(--general-color);
}
.accordion-list .ac {
  background-color: var(--background-light-theme);
  border: none;
  border-bottom: 1px solid var(--techskills-gray-back-color);
  margin-bottom: 0;
  padding: 28px 24px;
}
.ac.is-active {
  border-radius: 16px;
  background-color: var(--light-green-color);
  opacity: 1;
}
.accordion-list .ac .ac-panel .ac-text {
  font-family: var(--general-font-family);
  font-weight: 300;
  color: var(--general-color);
}

/* @media only screen and (min-width: 768px) {
  .sect-faq {
    margin-top: 124px;
  }
  .title-faq {
    margin-bottom: 60px;
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
  .accordion-list .ac .ac-trigger {
    font-size: 20px;
    line-height: 1.6;
  }
  .ac-btn-text {
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .sect-faq {
    margin-top: 164px;
  }
  .sect-faq .container {
    display: flex;
    background-image: url('../img/faq/desk_faq_decor_bg.png');
    background-repeat: no-repeat;
    background-position: 32px 100%;
    background-size: 526px;
  }
  @media (min-resolution: 192dpi) {
    .sect-faq .container {
      background-image: url('../img/faq/desk_faq_decor_bg@2x.png');
    }
  }
  .title-faq {
    width: 520px;
    margin-right: 104px;
  }
  .accordion-list {
    margin-top: 276px;
    width: 592px;
  }
} */
