.sect-faq {
  margin-bottom: 80px;
}
.title-faq {
  margin-bottom: 40px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  text-transform: uppercase;
  color: var(--general-color-light-theme);
}

.color-green {
  color: var(--accent-color);
}
.ac .ac-trigger::after {
  display: none;
}
.accordion-list .ac .ac-icon-up {
  text-align: center;
  transform: translate(50%, 0) rotate(180deg);
  position: absolute;
  right: 24px;
  top: 9px;
  fill: transparent;
  stroke: var(--general-color-light-theme);
  transition: transform 0.3s ease-in-out;
}
.accordion-list .ac.is-active .ac-icon-up {
  transform: translate(50%, 0) rotate(0deg);
}
.accordion-list .ac .ac-trigger {
  font-family: var(--general-font-family);
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--general-color-light-theme);
}
.accordion-list .ac .ac-trigger:focus {
  color: var(--general-color-light-theme);
}
.accordion-list .ac {
  background-color: var(--background-light-theme);
  border: none;
  border-bottom: 1px solid #e4e5e6;
  margin-bottom: 0;
  padding: 28px 24px;
}
.is-active {
  border-radius: 16px;
}
.accordion-list .ac .ac-panel .ac-text {
  font-family: var(--general-font-family);
  font-weight: 300;
  color: var(--general-color-light-theme);
}
