.hero-section {
  padding-top: 32px;
}
.hero-container {
  display: flex;
  flex-direction: column;
}
.hero-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 360px;
}
.hero-img {
  border-radius: 24px;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-transform: uppercase;
  margin-top: 32px;
}

.hero-describe {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  background-image: url(/img/hero/mob_hero_and_meny_decor_bg.png),
    linear-gradient(
      var(--general-background-color),
      var(--general-background-color)
    );

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding: 32px 0;
  background-color: var(--techskills-gray-back-color);
}

.hero-link {
  transition: color 250ms ease;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-section nav {
  background-color: var(--techskills-gray-back-color);
  padding: 32px 0;
}

@media screen and (min-resolution: 192dpi) {
  .hero-describe {
    background-image: url(/img/hero/mob_hero_and_meny_decor_bg@2x.png),
      linear-gradient(
        var(--general-background-color),
        var(--general-background-color)
      );
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 60px;
  }
  .hero-container {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .hero-title {
    font-size: 124px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 40px;
    max-width: 768px;
  }

  .hero-list {
    flex-direction: row;
    gap: 40px;
  }

  .hero-describe {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 60px;
    background-image: url(/img/hero/tab_hero_and_menu_decor_bg.png),
      linear-gradient(
        var(--general-background-color),
        var(--general-background-color)
      );
  }

  .hero-text {
    font-size: 20px;
    max-width: 336px;
    margin-top: 0;
    margin-right: 32px;
  }

  .hero-section picture {
    order: 1;
  }

  .hero-img {
    border-radius: 26px;
  }

  .hero-section nav {
    padding: 40px 0;
  }

  @media screen and (max-width: 1279px) and (min-resolution: 192dpi) {
    .hero-describe {
      background-image: url(/img/hero/tab_hero_and_menu_decor_bg@2x.png),
        linear-gradient(
          var(--general-background-color),
          var(--general-background-color)
        );
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 0px;
  }

  .hero-container {
    position: relative;
  }

  .hero-title {
    font-size: 136px;
    line-height: 1.14;
    padding-top: 0;
    margin-bottom: 60px;
  }

  .hero-text {
    max-width: 592px;
    margin-right: 0;
  }

  .hero-describe {
    background-image: url(/img/hero/desk_hero_decor_bg.png),
      linear-gradient(
        var(--general-background-color),
        var(--general-background-color)
      );
    padding-bottom: 90px;
    /* position: relative; */
    padding-top: 90px;
    margin-bottom: 0;
    background-position: bottom;
    background-size: contain;
    margin-right: auto;
    width: 728px;
  }
  .hero-section picture {
    position: absolute;
    right: 32px;
    top: 38px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-describe {
      background-image: url(/img/hero/desk_hero_decor_bg@2x.png),
        linear-gradient(
          var(--general-background-color),
          var(--general-background-color)
        );
    }
  }
}
